<div  style="margin-left: 500px;">
    <h1>Edit accountant  Form</h1>
    <div style="width: 500px; margin: 10px 10px 10px 10px;">
        <div *ngIf="emp1">
        <div class="form-group">
            
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="emp1.name" >
            
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="emp1.email">
            
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="emp1.password">
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <textarea rows="4" cols="50" id="address" class="form-control" [(ngModel)]="emp1.address">
                Enter address here...</textarea>
        </div>
        <div class="form-group">
            <label for="phno">Mobile.no</label>
            <input type="number" class="form-control" id="phno" [(ngModel)]="emp1.name"[(ngModel)]="emp1.contact">
        </div>
        
        <button (click)="update1()" class="btn btn-success" style="margin-left: 200px;" >update Accountant</button>
       
    </div>
</div>
</div>
